@font-face {
  font-family: "Knockout";
  src: url("/Knockout HTF49-Liteweight-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  margin: 0;
  font-family: "Knockout", Arial, sans-serif;
  background-color: #e63223;
  color: #fcedd7;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fcedd7;
  color: #e63223;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #191818;
  color: #fcedd7;
}

button:active {
  background-color: #191818;
  color: #fcedd7;
}

a {
  text-decoration: none;
  color: #fcedd7;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 35px;
  max-width: 1060px;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

.logo g[id^="slot-"] {
  pointer-events: all;
}

.links {
  margin-top: clamp(20px, 11.44vw, 121px);
  font-size: clamp(20px, 4.72vw, 50px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 540px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    padding: 20px 20px;
  }

  .links {
    margin-top: 60px;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
